.App {
  text-align: left;
}

.AppLayout__header {
  color: white;
  padding: 0px;
}

.AppLayout__content {
  background-color: white;
}

.MainMenu {
  display: flex;
  justify-content: space-between;
}

.MainMenu__leftPart {
  font-size: 20pt;
  line-height: 64px;
}

.MainMenu__rightPart {
  line-height: 64px;
  display: flex;
  justify-content: flex-end;
}

.ContentLayout {
  margin-top: 3vh;
}

.SignUpComponent__emailIcon {
  color: rgba(0, 0, 0, 0.25);
}

.SignUpComponent__passwordIcon {
  color: rgba(0, 0, 0, 0.25);
}

.LogInComponent__emailIcon {
  color: rgba(0, 0, 0, 0.25);
}

.LogInComponent__passwordIcon {
  color: rgba(0, 0, 0, 0.25);
}
